.Home-page{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.btn{
    background-color: #008000;
    margin-left: 100px;
    margin-top: 15px;
    padding: 10px ;
    border-radius: 10px;
    color: white;
    border: none;
    cursor:pointer;
}